################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/WorkingHoursConsole/.vs/
/WorkingHoursConsole/.vs

