################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/WorkingHoursConsole/.vs/
/WorkingHoursConsole/.vs

/WorkingHoursConsole/.vs/WorkingHoursConsole/DesignTimeBuild/.dtbcache.v2
/WorkingHoursConsole/.vs/WorkingHoursConsole/FileContentIndex/2123722f-0727-400a-b076-6144f67a8075.vsidx
/WorkingHoursConsole/.vs/WorkingHoursConsole/FileContentIndex/395dcf39-03a8-42b5-b9c7-e62c0310bc47.vsidx
/WorkingHoursConsole/.vs/WorkingHoursConsole/FileContentIndex/3872a973-2ad2-4deb-bb4b-178f152aee2d.vsidx
/WorkingHoursConsole/.vs/ProjectEvaluation/workinghoursconsole.metadata.v6.1
/WorkingHoursConsole/.vs/WorkingHoursConsole/v17/.futdcache.v2
/WorkingHoursConsole/.vs/ProjectEvaluation/workinghoursconsole.projects.v6.1
